extends ../layouts/base-layout

include ../header-common
include ../catalog-list
include ../catalog-doplist

block vars
  -pageSettings.title = "Каталог продукции";

block header
  +header-common({title:"Каталог продукции"})
block content
  +catalog-list
  +catalog-doplist
