extends ../layouts/base-layout

include ../common-title
include ../catalog-list
include ../catalog-doplist

block vars
  -pageSettings.title = "Каталог продукции";


block content
  +header("header--style-dark")
  +common-title("", "Каталог продукции")
  +catalog-list
  +catalog-doplist
