extends ../layouts/base-layout

include ../header-common
include ../order

block vars
  -pageSettings.title = "Подбор программы";

block header
  +header-common({title:"Подбор программы"})
block content
  +order
