body, ul, h2, h3 {
	margin: 0;
	padding: 0;
}

.container {
	width: 90%;
	min-width: 280px;
	max-width: 350px;
	margin: 0 auto;

	@include above($mobile-big) {
		
	}

	@include above($tablet) {
		width: 93%;	
		max-width: 900px;
	}

	@include above($tablet-big) {
		max-width: 1050px;
	}

	@include above($desktop) {
		max-width: 1220px;
	}  
}

.header-menu__list-item--active::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 15px;
	height: 2px;
	width: 100%;
	background: #67b737;
}
