@font-face {
	src:url(../fonts/oswaldregular.woff),
	url(../fonts/oswaldregular.woff2);
	font-family: OswaldRegular;
}

@font-face {
	src:url(../fonts/oswaldmedium.woff),
	url(../fonts/oswaldmedium.woff2);
	font-family: OswaldMedium;
}