@mixin above($width) {
	@media screen and (min-width: $width) {
		@content;
	}
}

@mixin below($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}

@mixin hoverOpacity($opacity) {
	&:hover {
		opacity: $opacity;
	}
}

@mixin activeOpacity($opacity) {
	&:active {
		opacity: $opacity;
	}
}

@mixin flexIt($justcont, $alitems) {
	display: flex;
	justify-content: $justcont;
	align-items: $alitems;
}