.catalog-doplist {
	padding-top: 25px;
	overflow: hidden;
	border-top: 1px solid #ededed;

	&__title {
		position: relative;
		width: 250px;
		margin-bottom: 30px;
		font-family: OswaldRegular;
		font-size: 24px;
		line-height: 24px;
		font-weight: 400;
		&::after {
			content: '';
			position: absolute;
			top: 14px;
			height: 3px;
			left: 100%;
			width: 100vw;
			background: #67b737;
		}

		@include above($tablet) {
			width: 413px;
			padding-left: 38px;
			font-size: 36px;
			line-height: 36px;
			&::before {
				content: '';
				position: absolute;
				top: 14px;
				height: 3px;
				right: 100%;
				width: 100vw;
				background: #67b737;

			}

		}
	}

	&__wrap {
		@include above($tablet) {
			max-width: 900px;
			margin: 0 auto;
		}

		@include above($desktop) {
			@include flexIt(space-between,'');
			max-width: none;
			
		}
	}

	&__list {

		@include above($desktop) {
			width: 895px;
			@include flexIt(space-between,'');
			flex-direction: column;
		}
	}
}