.catalog-list {
	
	&__wrap {
		display: flex;
		flex-direction: column;

		@include above($tablet) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 93%;	
			max-width: 900px;
			margin: 0 auto;
		}

		@include above($desktop) {
			max-width: 1220px;
		}

	}

}