.contacts {
	position: relative;
	
	&__invate {

		@include above($desktop) {
			position: absolute;
			top: 95px;
			left: 110px;
			display: flex;
			align-items: center;
			width: 570px;
			height: 200px;
			background: #fff;
			z-index: 1;
		}
	}

	&__invate-wrap {
		@include flexIt(space-between, center);
		height: 114px;

		@include above($tablet) {
			align-items: flex-start;
			padding: 0 42px;
			box-sizing: border-box;
		}

		@include above($desktop) {
			height: auto;
		}
	}

	&__invate-title {
		display: flex;
		flex-direction: column;
		width: 125px;
		font-family: OswaldRegular;
		font-size: 16px;
		line-height: 20px;
		text-transform: uppercase;

		@include above($tablet) {
			width: 155px;
			font-size: 20px;
			line-height: 25px;
		}
		
	}

	&__invate-address {
		display: flex;
		flex-direction: column;
		width: 135px;
		font-family: Arial;
		font-size: 14px;
		line-height: 20px;
		color: #444;

		@include above($tablet) {
			width: 155px;
			font-size: 16px;
			line-height: 20px;
			text-align: right;
		}

		@include above($desktop) {
			text-align: left;
		}
	}

	&__address-street {

		@include above($tablet) {
			margin-bottom: 18px;
		}
	}
	
	&__map {
		height: 362px;
		width: 100%;
	}

}