.header-index {
	min-height: 555px;
	&__content {
		padding-top: 25px;
		min-height: 490px;
		background: url(../img/index-background-mobile@1x.jpg) no-repeat 50% 0;
		font-family: OswaldRegular;
		color: #fff;
	}

	&__content::before {
		position: absolute;
		content: "";
		display: block;
		margin-top: -25px;
		height: 305px;
		width: 100%;
		background: linear-gradient(90deg, #65a93c, #63a73a);
		z-index: -1;
	}

	&__content-wrap {
		width: 280px;
		@include above($mobile-big) {
			width: 350px;
		}

	}
	
	&__content-title {
		margin-bottom: 25px;
	}

	&__title-name {
		font-size: 36px;
		line-height: 36px;
		text-align: center;
		font-weight: 300;
	}

	&__title-slogan {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
	
	&__content-img {
		@include above($mobile-big) {
			display: block;
			margin: 0 auto;
		}
	}
}