mixin advantages

  - var list = [{src:'img/advantage-leaf@1x.png', srcset:'img/advantage-leaf@2x.png', imgClass:'advantages__icon-img--leaf', text:'Функциональное питание содержит только полезные питательные вещества.', numb:'1', numClass:'advantages__item-number--one'},{src:'img/advantage-powder@1x.png', srcset:'img/advantage-powder@2x.png', imgClass:'advantages__icon-img--water', text:'Выпускается в виде порошка, который нужно лишь залить кипятком и готово.',numb:'2'},{src:'img/advantage-dining@1x.png', srcset:'img/advantage-dining@2x.png', imgClass:'advantages__icon-img--cutlery', text:'Замените один-два приема обычной еды на наше функциональное питание.', numb:'3'},{src:'img/advantage-clock@1x.png', srcset:'img/advantage-clock@2x.png',imgClass:'advantages__icon-img--watch', text:'Уже через месяц наслаждайтесь изменениями к лучшему&nbsp;&nbsp; вашего питомца!', numb:'4'}];

  .advantages
    .container
      H2.advantages__title
        | Как это работает
      .advantages__list
        each link in list  
          .advantages__item
            .advantages__item-icon
              IMG.advantages__icon-img(src= link.src class= link.imgClass srcset= link.srcset)
            P.advantages__item-text!= link.text
            SPAN.advantages__item-number(class= link.numClass)= link.numb

