mixin catalog-list
  
  include catalog-item

  - var list = [{_setdesk:'img/chicken-small-desktop@1x.png 1x, img/chicken-small-desktop@2x.png 2x', _settabl:'img/chicken-small-tablet@1x.png 1x, img/chicken-small-tablet@2x.png 2x', _source:'img/chicken-small-mobile@1x.jpg', _sourset:'img/chicken-small-mobile@2x.jpg 2x', _alter:'pro 500 курица', _title:'cat energy pro 500 г', _bulk:'500 г', _taste:'Курица', _price:'700 р.'},{_setdesk:'img/chicken-big-desktop@1x.png 1x, img/chicken-big-desktop@2x.png 2x', _settabl:'img/chicken-big-tablet@1x.png 1x, img/chicken-big-tablet@2x.png 2x', _source:'img/chicken-big-mobile@1x.jpg', _sourset:'img/chicken-big-mobile@2x.jpg 2x', _alter:'pro 1000 курица', _title:'cat energy pro 1000 г', _bulk:'1000 г', _taste:'Курица', _price:'1000 р.'},{_setdesk:'img/fish-small-desktop@1x.png 1x, img/fish-small-desktop@2x.png 2x', _settabl:'img/fish-small-tablet@1x.png 1x, img/fish-small-tablet@2x.png 2x', _source:'img/fish-small-mobile@1x.jpg', _sourset:'img/fish-small-mobile@2x.jpg 2x', _alter:'pro 500 рыба', _title:'cat energy pro 500 г', _bulk:'500 г', _taste:'Рыба', _price:'700 р.'},{_setdesk:'img/fish-big-desktop@1x.png 1x, img/fish-big-desktop@2x.png 2x', _settabl:'img/fish-big-tablet@1x.png 1x, img/fish-big-tablet@2x.png 2x', _source:'img/fish-big-mobile@1x.jpg', _sourset:'img/fish-big-mobile@2x.jpg 2x', _alter:'pro 1000 рыба', _title:'cat energy pro 1000 г', _bulk:'1000 г', _taste:'Рыба', _price:'1000 р.'},{_setdesk:'img/buckwheat-small-desktop@1x.png 1x, img/buckwheat-small-desktop@2x.png 2x', _settabl:'img/buckwheat-small-tablet@1x.png 1x, img/buckwheat-small-tablet@2x.png 2x', _source:'img/buckwheat-small-mobile@1x.jpg', _sourset:'img/buckwheat-small-mobile@2x.jpg 2x', _alter:'slim 500 гречка', _title:'cat energy slim 500 г', _bulk:'500 г', _taste:'Гречка', _price:'400 р.'},{_setdesk:'img/buckwheat-big-desktop@1x.png 1x, img/buckwheat-big-desktop@2x.png 2x', _settabl:'img/buckwheat-big-tablet@1x.png 1x, img/buckwheat-big-tablet@2x.png 2x', _source:'img/buckwheat-big-mobile@1x.jpg', _sourset:'img/buckwheat-big-mobile@2x.jpg 2x', _alter:'slim 1000 гречка', _title:'cat energy slim 1000 г', _bulk:'1000 г', _taste:'Гречка', _price:'700 р.'},{_setdesk:'img/rice-small-desktop@1x.png 1x, img/rice-small-desktop@2x.png 2x', _settabl:'img/rice-small-tablet@1x.png 1x, img/rice-small-tablet@2x.png 2x', _source:'img/rice-small-mobile@1x.jpg', _sourset:'img/rice-small-mobile@2x.jpg 2x', _alter:'slim 500 рис', _title:'cat energy slim 500 г', _bulk:'500 г', _taste:'Рис', _price:'500 р.'},];

  .catalog-list
    
    .catalog-list__wrap

      each link in list
        +catalog-item({setdesk:link._setdesk, settabl:link._settabl, source:link._source, sourset:link._sourset, alter:link._alter, title:link._title, bulk:link._bulk, taste:link._taste, price:link._price})

      .catalog-item__more
        .catalog-item__more-wrap
          .catalog-item__more-icon
          H3.catalog-item__more-title
            | Показать ещё 100500 товаров
          SPAN.catalog-item__more-text
            | На самом деле вкусов гораздо больше!
          +btn({href:'#'})(class = "catalog-item__more-btn")
            | Показать все
