mixin catalog-doplist
  
  include catalog-dopitem
  include btn

  - var doplist = [{_title:'Сахарозаменитель', _amount:'1 упаковка', _value:'100 Р.'}, {_title:'Питьевая вода', _amount:'5 литров', _value:'50 Р.'}, {_title:'Молоко', _amount:'1 литр', _value:'100 Р.'}, {_title:'Витамины', _amount:'1 упаковка (30 г)', _value:'300 Р.'}];
  
  .catalog-doplist
    
    .catalog-doplist__title-wrap
      H3.catalog-doplist__title-name
        | Дополнительные товары

    .container

      .catalog-doplist__wrap
        .catalog-doplist__list

          each link in doplist
            +catalog-dopitem({title:link._title, amount:link._amount, value:link._value})

        .catalog-doplist__gift
          .catalog-doplist__gift-wrap
            IMG.catalog-doplist__gift-icon
            P.catalog-doplist__gift-text.
              Закажите все и получите чехол для кота в подарок!

