mixin contacts
  .contacts
    .container
      .contacts__invate
        SPAN.contacts__invate-title
        .contacts__invate-address
          SPAN.contacts__address-street
            | ул. Большая Конюшенная, д. 19/8
          SPAN.contacts__address-city
            | Санкт-Петербург