mixin contacts

  .contacts
    .contacts__invate

      .container.contacts__invate-wrap

        .contacts__invate-title
          SPAN.contacts__title-top
            | Приглашаем
          SPAN.contacts__title-bottom
            | К сотрудничеству дилеров!
        .contacts__invate-address
          SPAN.contacts__address-street
            | ул. Большая Конюшенная, д. 19/8
          SPAN.contacts__address-city
            | Санкт-Петербург

    .contacts__map(id = 'map')