mixin example
  
  - var stat = [{classSt:'example__stat-item--weight', value:'5 кг', text:'снижение веса'}, {classSt:'example__stat-item--days', classText:'example__stat-text--days', value:'60 дней', text:'затрачено времени'}];

  .example

    .container
      H2.example__title
        | Живой пример

      .example__description
        P.example__description-text.
          Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.

        .example__description-stat
          each link in stat
            .example__stat-item(class= link.classSt)
              SPAN.example__stat-value= link.value
              SPAN.example__stat-text(class= link.classText)= link.text

        .example__cost
          SPAN.example__cost-title
            | Затраты на питание:
          SPAN.example__cost-value
            | 15 000 руб.

      .example__befter(id="comparison")
        .example__before
          .example__after(id="divisor")

        .example__befter-slider-mobile
          SPAN.example__mobile-textBefore
            | Было
          .example__slider-mobile
            .example__slider-mobile-item
          SPAN.example__mobile-textAfter
            | Стало

        input.example__befter-slider(type="range" min="0" max="100" value="50" id="slider")
