mixin intro

  include btn

  .intro
    
    .intro__content
      .container
        .intro__content-wrap
          .intro__content-title
            H2.intro__title-name
              | Функциональное питание для котов
            SPAN.intro__title-slogan
              | Занялся собой? Займись котом!
          .intro__content-picture
            PICTURE
              SOURCE(media = "(min-width: 1450px)" srcset = "..")
              SOURCE(media = "(min-width: 768px)" srcset = "img/index-can-tablet@1x.jpg")
              IMG.intro__content-img(src="img/index-can-mobile@1x.png")
          +btn({href:'#'})(class = "intro__btn")
            | Подобрать программу
