mixin order
  
  include btn

  - var info = [{_class:'order__info-row--name', _id:'infoname', _text:'Имя:*', _phdr:'Барсик'}, {_class:'order__info-row--weight', _id:'infoweight', _text:'Вес (кг):*', _phdr:'7'}, {_class:'order__info-row--age', _id:'infoage', _text:'Возраст (лет):', _phdr:'7'}];

  - var style = [{_class:'order__style-row--slim', _id:'styleslim', _text:'Похудение', _chkd:'checked'}, {_class:'order__style-row--pro', _id:'stylepro', _text:'Набор массы'},{_class:'order__style-row--idk', _id:'styleidk', _text:'Не знаю (нужен ваш совет)'}];

  - var products = [{_class:'order__products-row--sugar', _id:'sugar', _text:'сахарозаменитель', _chkd:'checked'}, {_class:'order__products-row--water', _id:'water', _text:'питьевая вода'}, {_class:'order__products-row--milk', _id:'milk', _text:'молоко'}, {_class:'order__products-row--vitamins', _id:'vitamins', _text:'витамины'}];

  FORM.order(action = 'https://echo.htmlacademy.ru' method = 'post')
    .container.container--form
      P.order__intro.
        Заполните анкету и мы подберем программу питания для вашего кота  

    .order__cat
      .order__cat-info
        .container.container--form
          each link in info
            LABEL.order__info-row(class= link._class)
              span(class = 'order__info-row-title')= link._text
              input.order__info-row-data(type='text', placeholder= link._phdr)

      .order__cat-style
        .container.container--form
          
          .order__cat-style-wrap

            each link in style
              .order__style-row(class= link._class)
                input.order__style-row-turn(type='radio', name = 'styleturn' id= link._id, value= link._id, checked= link._chkd)
                label.order__style-row-title(for= link._id)= link._text

    .order__owner
      .container

        H3.order__owner-title
          | Контактные данные (владельца кота)

      .order__owner-contacts
        .container.container--form
          
          .order__owner-wrap
            .order__contacts-email
              label.order__contacts-row
                span.order__contacts-row-title E-mail:*
                input.order__contacts-row-data(type = 'text' placeholder = 'kuklachev@gmail.com')
                svg.order__contacts-row-icon(class = 'order__contacts-row-icon--email')
                  USE(xlink:href = "img/svg/symbols.svg#icon-mail")

            .order__contacts-phone
              label.order__contacts-row 
                span.order__contacts-row-title Телефон:*
                input.order__contacts-row-data(type = 'text' placeholder = '8 (960) 900-60-60')
                svg.order__contacts-row-icon(class = 'order__contacts-row-icon--phone')
                  USE(xlink:href = "img/svg/symbols.svg#icon-phone")

    .order__comment
      .container

        H3.order__comment-title
          | Комментарий
      
      .container.container--form
        TEXTAREA.order__comment-text(placeholder='Расскажите обо всех повадках кота')
    
    .order__dop
      .container

        H3.order__dop-title
          | Дополнительно

      .order__dop-products
        .container.container--form
          .order__dop-products-wrap
  
            each link in products
              .order__products-row(class = link._class)
                input.order__products-row-turn(type = 'checkbox' name = 'product' id= link._id, value= link._id, checked= link._chkd)
                label.order__products-row-title(for= link._id)= link._text
    
    .order__btn
      .container.container--form
        
        .order__btn-wrap
          input.btn(type = 'submit' value = "Отправить заявку" class = 'order__btn-submit')
          SPAN.order__btn-text * — Обязательные поля