mixin order
  
  include btn

  - var info = [{_class:'order__info-row--name', _id:'infoname', _text:'Имя:*', _phdr:'Барсик'}, {_class:'order__info-row--weight', _id:'infoweight', _text:'Вес (кг):*', _phdr:'7'}, {_class:'order__info-row--age', _id:'infoage', _text:'Возраст (лет):', _phdr:'7'}];

  - var style = [{_class:'order__style-row--slim', _id:'styleslim', _text:'Похудение', _chkd:'checked'}, {_class:'order__style-row--pro', _id:'stylepro', _text:'Набор массы'},{_class:'order__style-row--idk', _id:'styleidk', _text:'Не знаю (нужен ваш совет)'}];

  - var products = [{_class:'order__products-turn--sugar', _id:'sugar', _text:'сахарозаменитель'}, {_class:'order__products-turn--water', _id:'water', _text:'питьевая вода'}, {_class:'order__products-turn--milk', _id:'milk', _text:'молоко'}, {_class:'order__products-turn--vitamins', _id:'vitamins', _text:'витамины'}];

  FORM.order(action = 'https://echo.htmlacademy.ru' method = 'post')
    .container.container--form
      P.order__intro.
        Заполните анкету и мы подберем программу питания для вашего кота  

    .order__cat
      .order__cat-info
        .container.container--form
          each link in info
            LABEL.order__info-row(class= link._class)
              span(class = 'order__info-row-title')= link._text
              input.order__info-row-data(type='text', placeholder= link._phdr)

      .order__cat-style
        .container.container--form
          
          .order__cat-style-wrap

            each link in style
              .order__style-row(class= link._class)
                input.order__style-row-turn(type='radio', name = 'styleturn' id= link._id, value= link._id, checked= link._chkd)
                label.order__style-row-title(for= link._id)= link._text

    .order__owner

      H3.order__owner-title
        | Контактные данные (владельца кота)

      .order__owner-contacts
        .order__contacts-email
          label(for = 'email') E-mail:*
          input(type = 'text' id = 'email' placeholder = 'kuklachev@gmail.com')
          img(src='' alt='иконка письма')

        .order__contacts-phone
          label(for = 'phone') Телефон:*
          input(type = 'text' id = 'phone' placeholder = '8 (960) 900-60-60')
          img(src='' alt='иконка телефона')

    .order__comment

      H3.order__comment-title
        | Комментарий

      TEXTAREA.order__comment-text(placeholder='Расскажите обо всех повадках кота')
    
    .order__dop

      H3.order__dop-title
        | Дополнительно

      .order__dop-products

        each link in products
          .order__products-turn(class = link._class)
            input(type = 'checkbox' name = 'product' id= link._id, value= link._id)
            label(for= link._id)= link._text
    
    .order__btn-wrap

      input(type = 'submit' value = "Отправить заявку" class = 'order__btn-submit')
      SPAN.order__btn-text * — Обязательные поля