body, ul, h2 {
  margin: 0;
  padding: 0; }

.container {
  width: 280px;
  min-width: 260px;
  margin: 0 auto; }
  @media screen and (min-width: 500px) {
    .container {
      width: 350px; } }

@font-face {
  src: url(../fonts/oswaldregular.woff), url(../fonts/oswaldregular.woff2);
  font-family: OswaldRegular; }

@font-face {
  src: url(../fonts/oswaldmedium.woff), url(../fonts/oswaldmedium.woff2);
  font-family: OswaldMedium; }

.header-index {
  min-height: 555px; }
  .header-index__content {
    padding-top: 25px;
    min-height: 490px;
    background: url(../img/index-background-mobile@1x.jpg) no-repeat 50% 0;
    font-family: OswaldRegular;
    color: #fff; }
  .header-index__content::before {
    position: absolute;
    content: "";
    display: block;
    margin-top: -25px;
    height: 305px;
    width: 100%;
    background: linear-gradient(90deg, #65a93c, #63a73a);
    z-index: -1; }
  .header-index__content-wrap {
    width: 280px; }
    @media screen and (min-width: 500px) {
      .header-index__content-wrap {
        width: 350px; } }
  .header-index__content-title {
    margin-bottom: 25px; }
  .header-index__title-name {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 300; }
  .header-index__title-slogan {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
  @media screen and (min-width: 500px) {
    .header-index__content-img {
      display: block;
      margin: 0 auto; } }

.header-menu {
  width: 100%;
  min-width: 280px;
  font-family: OswaldMedium;
  font-size: 20px;
  line-height: 20px; }
  @media screen and (max-width: 767px) {
    .header-menu__nav--nojs .header-menu__toggle {
      display: none; } }
  .header-menu__toggle {
    position: absolute;
    top: 18px;
    right: 15px;
    z-index: 2;
    display: block;
    width: 50px;
    height: 40px;
    font-size: 0;
    background-color: #fff;
    cursor: pointer;
    border: none; }
  @media screen and (max-width: 767px) {
    .header-menu__nav--closed .header-menu__list-item {
      display: none; } }
  @media screen and (max-width: 767px) {
    .header-menu__nav--closed .header-menu__list-item--logo {
      display: flex; } }
  .header-menu__nav--closed .header-menu__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 2px;
    background-color: #000;
    box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000; }
  .header-menu__nav--opened .header-menu__toggle {
    top: 18px;
    right: 15px; }
    .header-menu__nav--opened .header-menu__toggle::before, .header-menu__nav--opened .header-menu__toggle::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 13px;
      width: 29px;
      height: 2px;
      background-color: #000; }
    .header-menu__nav--opened .header-menu__toggle::before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      box-shadow: none; }
    .header-menu__nav--opened .header-menu__toggle::after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .header-menu__list {
    list-style: none; }
  .header-menu__list-item {
    display: flex;
    height: 65px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #111;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box; }
  .header-menu__item-logo {
    width: 101px;
    height: 18px; }
  .header-menu__item-logo--once {
    position: absolute;
    left: 20px;
    width: 35px;
    height: 40px; }
    @media screen and (min-width: 500px) {
      .header-menu__item-logo--once {
        left: 50px; } }

.btn {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background: #67b737; }
