@font-face {
  src: url(../fonts/oswaldregular.woff), url(../fonts/oswaldregular.woff2);
  font-family: OswaldRegular; }

@font-face {
  src: url(../fonts/oswaldmedium.woff), url(../fonts/oswaldmedium.woff2);
  font-family: OswaldMedium; }

body, ul, h2 {
  margin: 0;
  padding: 0; }

.container {
  width: 80%;
  min-width: 280px;
  margin: 0 auto; }
  @media screen and (min-width: 500px) {
    .container {
      max-width: 350px; } }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 900px; } }

.header-menu__list-item--active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 15px;
  height: 2px;
  width: 100%;
  background: #67b737; }

.btn {
  display: flex;
  height: 40px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background: #67b737; }

.intro {
  min-height: 555px; }
  .intro__content {
    padding-top: 25px;
    min-height: 490px;
    background: url(../img/index-background-mobile@1x.jpg) no-repeat 50% 0;
    font-family: OswaldRegular;
    color: #fff; }
    @media screen and (min-width: 768px) {
      .intro__content {
        background: none; } }
  .intro__content::before {
    position: absolute;
    content: "";
    display: block;
    margin-top: -25px;
    height: 305px;
    width: 100%;
    background: linear-gradient(90deg, #65a93c, #63a73a);
    z-index: -1; }
    @media screen and (min-width: 768px) {
      .intro__content::before {
        display: none; } }
  .intro__content-wrap {
    width: 100%;
    min-width: 280px; }
    @media screen and (min-width: 500px) {
      .intro__content-wrap {
        width: 350px; } }
    @media screen and (min-width: 768px) {
      .intro__content-wrap {
        display: flex;
        flex-direction: column;
        width: 100%; } }
  .intro__content-title {
    margin-bottom: 25px; }
    @media screen and (min-width: 768px) {
      .intro__content-title {
        color: #111; } }
    @media screen and (min-width: 768px) {
      .intro__content-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 415px; } }
  .intro__title-name {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 300; }
    @media screen and (min-width: 768px) {
      .intro__title-name {
        font-size: 60px;
        line-height: 60px;
        text-align: left; } }
  .intro__title-slogan {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px; }
    @media screen and (min-width: 768px) {
      .intro__title-slogan {
        margin-top: 40px;
        font-size: 20px;
        line-height: 20px; } }
  .intro__content-img {
    display: block;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .intro__content-img {
        position: absolute;
        margin-left: -90px;
        z-index: -1; } }
  @media screen and (min-width: 768px) {
    .intro__btn {
      height: 52px;
      width: 245px;
      margin: 0;
      margin-top: 22px;
      font-size: 20px;
      line-height: 20px; } }

.header {
  width: 100%;
  min-width: 280px;
  font-family: OswaldMedium;
  font-size: 20px;
  line-height: 20px; }
  @media screen and (max-width: 767px) {
    .header__nav--nojs .header__toggle {
      display: none; } }
  .header__toggle {
    position: absolute;
    top: 18px;
    right: 15px;
    z-index: 2;
    display: block;
    width: 50px;
    height: 40px;
    font-size: 0;
    background-color: #fff;
    cursor: pointer;
    border: none; }
    @media screen and (min-width: 768px) {
      .header__toggle {
        display: none; } }
  @media screen and (max-width: 767px) {
    .header__nav--closed .header__list-item {
      display: none; } }
  @media screen and (max-width: 767px) {
    .header__nav--closed .header__list-item--logo {
      display: flex; } }
  .header__nav--closed .header__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 2px;
    background-color: #000;
    box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000; }
  .header__nav--opened .header__toggle {
    top: 18px;
    right: 15px; }
    .header__nav--opened .header__toggle::before, .header__nav--opened .header__toggle::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 13px;
      width: 29px;
      height: 2px;
      background-color: #000; }
    .header__nav--opened .header__toggle::before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      box-shadow: none; }
    .header__nav--opened .header__toggle::after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .header__list {
    list-style: none; }
    @media screen and (min-width: 768px) {
      .header__list {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        margin-top: 24px; } }
  .header__list-item {
    display: flex;
    height: 65px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #111;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box; }
    @media screen and (min-width: 768px) {
      .header__list-item {
        position: relative;
        flex-direction: column;
        width: auto;
        font-family: OswaldRegular;
        font-size: 18px;
        line-height: 25px;
        border-bottom: none; } }
  @media screen and (min-width: 768px) {
    .header__list-item--logo {
      margin-right: 58px; } }
  .header__item-logo {
    width: 101px;
    height: 18px; }
    @media screen and (min-width: 768px) {
      .header__item-logo {
        width: 173px;
        height: 60px; } }
  .header__item-logo--once {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 35px;
    height: 40px; }
    @media screen and (min-width: 500px) {
      .header__item-logo--once {
        left: 50px; } }
    @media screen and (min-width: 768px) {
      .header__item-logo--once {
        display: none; } }
